body {
    background-color: #f1f1f1;
}
.text-input {
    width: 60%;
    background-color: #f1f3f5;
    border-radius: 25px;
}
.response-area {
    overflow-y: auto;
    height: calc(100vh - 150px);
}
.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -20%;
    background-color: #fff;
    transition: 0.3s;
    z-index: 1000;
}
.sidebar.active {
    left: 0;
}
.content {
    transition: margin-left 0.3s;
}
.content.active {
    margin-left: 20%;
}
